<div class="hero">
    <nav>
        <img src="../assets/logo.png" class="logo">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Receipe</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <img src="../assets/menu.png" class="menu-img">
        <!-- comment line -->
    </nav>
    <div class="row">
        <div class="col">
            <h1>All happiness depends on a leisurley breakfast. </h1>
            <a href="#">Order Now</a>
        </div>
        <div class="col">
            <img src="../assets/pic1.png" class="features-img">
            <img src="../assets/pic2.png" class="thumbnail-img">
        </div>
    </div>
</div>